.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #000000;
  opacity: 0.7;
  box-shadow: 5px 5px 18px #888888;
}

.navbar-brand {
  color: #FAA916;
  font-weight: 700;
}

.video-bg {
  position: absolute;
/*  right: 0;
  bottom: 0;*/
/*  min-width: 100%; 
  min-height: 100%;*/
}

/*.btn, .nav-link {
  color: #FFFFFF;
  font-family: 'Roboto', 'sans-serif';
  font-weight:700;
}*/

/*.sticky-top{
  position: fixed;
  top: 0;
  width: 100%;
}*/

.page-section {
  height: 300px;
}

.main-content {
  padding-right: 50px;
  padding-left: 50px;
}

h3 {
  font-family: 'Quicksand', sans-serif;
}

#bio {
  height: 500px;
  border: 1px solid black; 
  font-family: 'Shrikhand', cursive;
  font-weight: 400;
  font-size: 100px;
  text-align: center;
  padding-top: 150px;
}

.flex-container {
  display: flex;
}

.skill {
  width: 80px;
  height: 106px;
  border: 1px solid black;
}

.skill-inner {
  width: 80px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
}

.period {
  color: #FFFF00;
}
