html {
  scroll-behavior: smooth;
}

header {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

.overflow-auto {
    max-height: 500px;
    padding-right: 85px;
    padding-left: 85px;
    margin-right: auto;
    margin-left: auto;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #000000;
  opacity: 0.7;
  box-shadow: 5px 5px 18px #888888;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
}

.navbar-brand {
  font-weight: 700;
}

.video-bg {
  position: absolute;
/*  right: 0;
  bottom: 0;*/
/*  min-width: 100%; 
  min-height: 100%;*/
}

/*.btn, .nav-link {
  color: #FFFFFF;
  font-family: 'Roboto', 'sans-serif';
  font-weight:700;
}*/

/*.sticky-top{
  position: fixed;
  top: 0;
  width: 100%;
}*/

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: black; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-family: 'Quicksand', sans-serif;
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

.page-section {
  height: 750px;
  padding: 0em 5em 5em 5em;
}

.projects {
  height: 500px;
}

.main-content {
  font-family: 'Quicksand', sans-serif;
}

h1 {
  font-family: 'Shrikhand', cursive;
}

h3 {
  text-align: center;
  font-weight: 400;
  padding: 2em 2em 1em 2em;
}

h5 {
  text-align: center;
  font-weight: 400;
  padding: 1em 1em 1em 1em;
}

#bio {
  height: 500px; 
  font-family: 'Shrikhand', cursive;
  font-weight: 400;
  font-size: 100px;
  text-align: center;
  padding-top: 150px;
  height: 100vh;
}

p, .btn {
  font-family: 'Quicksand', sans-serif;
}

.flex-container {
  display: flex;
  justify-content: center;
  /*flex-wrap: wrap;*/
  /*align-content: center;*/
  /*padding: 2em 10em 2em 10em;*/
}

#skills {
  height: 850px;
}

.skill {
  width: 80px;
  height: 90px;
  border: 1px solid black;
  /*rounded corners:*/
/*  border-radius: 25px;
  border: 2px solid #73AD21;*/ 
  padding: 1em 1em 1em 1em;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 12px;
  margin: 10px;
}

.skill-inner {
  width: 80px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
}

#marshmallow {
  font-size: 10px;
}

#projects {
  background-color: #D3D0CB
}

#professional-experience {
  height: 530px;
}

#education {
  background-color: #D3D0CB;
  height: 475px;
  width: 100%;
}

#other-experience {
  height: 1500px;
}

#global {
  padding-top: 70px;
  height: 600px;
}

#languages, #articles {
  text-align: center;
  padding: 0em 0em 2em 0em;
}

#countries {
  text-align: center;
  padding: 0em 0em 2em 0em;
}

.contact {
  background-color: #167984;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
  padding: 2em 30em 2em 30em;
  font-family: 'Quicksand', sans-serif;
}

.other-contact {
  align-content: center;
  text-align: center;
}

.company {
  text-align: center;
  align-items: center;
  margin: auto;
}

#resume {
  color: #FFFA00;
}